

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(255, 255, 255, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  width: 100%;

}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  /* height: 100%; */
  background-color: #212529;
  color: white !important;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  /* max-width: 50em; */
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
  margin: 3rem 15rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* Caroulsel */

.slayt {
  margin: 3rem 15rem;
  box-shadow: 0px 0px 10px #fff;
}

.slayt img {
  height: 450px;
  width: 800px;
}

hr {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 2px !important;

}
.blur {
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

/* Duyurular */


#duyurular {
margin: 3rem 15rem;
}

#duyurular p {
  font-size: 1.5rem;
}

#duyurular h3{
  padding-bottom: 1rem;
}

#duyurular hr {
  margin-top: -1rem;
  margin-bottom: 0;
}

/* Haftanın Kitapları */

.siyah {
  color: #000 !important;
  border-bottom: 1px solid #000 !important;
}
.beyaz {
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
}
.hakkimizda-siyah {
  color: #000 !important;

}
.hakkimizda-beyaz {
  color: #fff !important;
}

.kart-1, .kart-2, .kart-3, .kart-4, .kart-5, .kart-6, .kart-7, .kart-8, .kart-9, .kart-11, .kart-12, .kart-13 {
  transition: transform .2s;
}

.kart-1:hover, .kart-2:hover, .kart-3:hover, .kart-4:hover, .kart-5:hover, .kart-6:hover, .kart-7:hover, .kart-8:hover, .kart-9:hover, .kart-11:hover, .kart-12:hover, .kart-13:hover {
  transform: scale(1.1);
  z-index: 1;
}

#haftanınkitapları {
  margin: 3rem 15rem;
}

.haftanınkitaplarıdiv hr {
  margin-top: 0;
  margin-bottom: 2rem !important;
  margin: auto;
  width: 25rem;
}

.card-body {
  background-color: #212529;
  box-shadow: 0px 0px 10px #fff;
}


.card img {
  /* width: 235px; */
  height: 355px;
  box-shadow: 0px 0px 10px #fff;
}

.list-group {
  color: white;
}

.list-group-item {
  background-color: transparent;
  color: #fff;
  padding: 8px 0;
  border: 1px solid #fff;
}

.card-body .buton {
  padding-top: 16px;
  padding-bottom: 0;
}

/* Haftanın Filmi */

#haftanınfilmi {
  margin: 3rem 15rem;
}

#haftanınfilmi hr {
  margin-bottom: 2rem !important;
  margin: auto;
  width: 25rem;
}

.card iframe {
  width: 100%;
  height: 585px;
  box-shadow: 0px 0px 10px #fff;
}

.table {
  text-align: left;
  color: white;
}

/* Haftanın Şarkısı */

#sarki {
  margin: 3rem 15rem;
}

.sarki-div hr {
  margin-top: 0;
  margin: auto;
  width: 25rem;
  margin-bottom: 2rem;
}

.sarki {
  box-shadow: 0px 0px 10px #fff;
}

/* Footer */

footer .inner {
  margin-top: 5rem;
  font-size: 1.2rem;
}



.mastfoot {
  color: rgba(255, 255, 255, .5);
}
