body {
  background-color: #212529;
  color: white;
}

.check {
  font-size: 3rem;
  color: green;
  margin-bottom: 0.2rem;
}

.success-div {
  padding-top: 15%;
}

.successButton {
  margin-top: 15px;
  padding: 10px 30px 10px 30px;
}

.geri {
  text-decoration: none;
  color: white;
}
